<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_Libary"
        tools:targetApi="31">
        <activity
            android:name="com.example.Views.Activitys.BorrowedBooksActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.BorrowBookActivity"
            android:exported="false" />

        <activity
            android:name="com.example.Views.Activitys.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Views.Activitys.BookDetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mymap_api_key" />

        <activity
            android:name="com.example.Views.Activitys.MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.AccountActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.LibraryInforActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Views.Activitys.NotificationActivity"
            android:exported="false" />
    </application>

</manifest>

<!--dsjhadsa-->
